<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Profile'" [items]="['Home','Profile']" [active_item]="'Change Password'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Change Password</h2>
            </div>
            <div class="body">
              <form #myForm="ngForm" class="register-form m-4" [formGroup]="register!" (ngSubmit)="changePassword()">
               
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Old Password</mat-label>
                      <input matInput formControlName="old_password" [type]="hide ? 'password' : 'text'" required>
                      <mat-icon matSuffix (click)="hide = !hide">
                        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      <mat-error *ngIf="register?.get('old_password')?.hasError('required')">
                        Old Password is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input matInput formControlName="new_password" [type]="hide ? 'password' : 'text'" required>
                        <mat-icon matSuffix (click)="hide = !hide">
                          {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="register?.get('new_password')?.hasError('required')">
                          New Password is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Retype Password</mat-label>
                        <input matInput formControlName="retype_password" [type]="hide ? 'password' : 'text'" required>
                        <mat-icon matSuffix (click)="hide = !hide">
                          {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="register?.get('retype_password')?.hasError('required')">
                          Retype Password is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [disabled]="!register?.valid" mat-raised-button
                      color="primary">Submit</button>
                    <button type="button" mat-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
       
      </div>
    </div>
</section>
